<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>

    </div>
</div>
<div class="text-center">
    
<div class="row">
        <div class="col-md-3">
            <app-card></app-card>
        </div>
        <div class="col-md-3">
            <app-card></app-card>
        </div>
        <div class="col-md-3">
            <app-card></app-card>
        </div>
        <div class="col-md-3">
            <app-card></app-card>
        </div>
    </div>

</div>